/*Main Content*/
body {
	padding-left: 5px;
}

.header {
	background-color: #8f9779;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
	 
}

.header h1, .header h1 a, .header h1 a:visited, .header h1 a:active {
	color: #aaa;
	font-size: 38pt;
	text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster';
}


/* Post relavent css */
.posts a {
	color: #aaa;
}

.posts {
	color: #aaa;
	padding-left: 0px;

}

/* creating small line underneath the pub_date */
.date {
    color: #828282;
    text-decoration: underline;
}

/* other stuff */
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

/* sidebar */
.sidebar {
	width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidebar a:hover {
    color: #064579;
}

/* comments */
.comment {
	margin: 20px 0px 20px 20px;
}

.user {
	border-bottom: 3px solid black;
}