/*Main Content*/
html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	background-image: url('../img/background.jpg');
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment: fixed;
	-moz-background-size: 100%; /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100%; /* Opera 9.5 */
	-webkit-background-size: 100%; /* Safari 3.0 */
	-khtml-background-size: 100%; /* Konqueror 3.5.4 */
	-moz-border-image: url(mtn.jpg) 0; /* Gecko 1.9.1 (Firefox 3.5) */
	padding-left: 5px;
	padding-top: 20px;
	margin: 0 0 100px;
}

h1.card-title {
	color: #fff;
}

.about-me {
	font-size: 20px;
	color: #fff;
}

/* menu */
.navbar{
	background-color: #FFFFFF; opacity: 0.9; filter: alpha(opacity=80);
	max-width: 15%;
	padding-top: 30px;
	margin: 0;
}

a.nav-link {
	color: red;
	vertical-align: middle;
	text-transform: uppercase;
	display: inline;
}

.svg-links.navbar-item.svg {
	size: 10px;
}

/* Login */
.login {
	color: #000;
}

/* Brand */
.brand {
	position: fixed;
	left: 80%;
	font-family: 'Fjalla One', sans-serif;
	font-size: 500px;
}

.header h1{
	color: #000;
	font-size: 38pt;
	text-decoration: none;
}

h1.text {
	color: #e5e5e5;
}

h2, h3, h4 {
    font-family: 'Lobster';
    color: #e5e5e5;
}

p {
	color: #e5e5e5;
}


/* Post relavent css */
.posts a {
	color: #;
}

.posts {
	color: #fff;
	padding-left: 0px;

}

/* creating small line underneath the pub_date */
.date {
    color: #828282;
    text-decoration: underline;
}

/* cards for posts */
.card {
	margin-top: 15px;
	padding: 20px 20px;
}

/* other stuff */
.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

h1.post-title {
	font-size: 60px;
	color: #fff;
}

/* Rounded corner solution*/
.rounded {
    -moz-border-radius:10px 10px 10px 10px;  // rounds corners for firefox
    border-radius:10px 10px 10px 10px;  //rounds corners for other browsers
    border:solid 1px #000;
    background-color:#acf;
    padding:10px;
}

div.card.bg-dark.social-list {
	font-size: 25px;
}

/* sidebar 
.sidebar {
	width: 130px;
    position: fixed;
    z-index: 1;
    top: 150px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidebar a:hover {
    color: #064579;
} */

/* comments */
.comment {
	margin: 20px 0px 20px 20px;
	text-decoration: none;
	color: #fff
}

.user {
	border-bottom: 3px solid black;
}

div.row {
	margin-top: 30px;
}

footer.page-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	margin-top: 30px;
	width: 100%;
}

div.card {
	width: 100%;

}

div > #id_text_wmd_preview {
	color: #000;
}
