{% load staticfiles	%}

<!DOCTYPE html>
<html>
<head>
	<title>codyLovell.com</title>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="{%	static 'blog/css/site.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	{% block head_extra %}{% endblock %}
</head>

<body>

	<nav class="navbar navbar-light bg-dark navbar-expand-lg fixed-top box-shadow">
			<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav flex-column">
					<li class="navbar-item">
						<a href="{% url 'about' %}" class="nav-link">About</a>
						<i class="material-icons">face</i>
				    </li>
				    <li class="navbar-item">
						<a href="{% url 'post_list' %}" class="nav-link">Blog</a>
						<i class="material-icons">rss_feed</i>
					</li>
					<li class="navbar-item">
						<a href="{% url 'contact' %}" class="nav-link">Contact</a>
						<i class="material-icons">contact_mail</i>
					</li>
					<li class="navbar-item">
						<a href="{% url 'projects' %}" class="nav-link">Projects</a>
						<i class="material-icons">work</i>
					</li>

				</ul>
			</div>
		</nav>

    <div class='header'>
    	<!-- glypgicon-plus is bootstrap that displays plus sign. -->
    	<div class="login">
	    	{% if user.is_authenticated %}
	    		<a href="{% url 'post_new' %}" class='top-menu'><span class='btn btn-outline-secondary'>New Post <i class="material-icons">add_circle</i></span></a>
	    	 	<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="btn btn-outline-secondary">Drafts <i class="material-icons">drafts</i></span></a>
	    	 	<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
	    	 {% else %}
	    	 {% block brand %}{% endblock %}
	        
	    	{% endif %}
    	</div>
    </div>


	<div class='container'>
		<div class="row">
			<div class="col-8 mx-auto">
			{% block content %}
			{% endblock %}
			</div>
		</div>
	</div>



<!--Footer-->
<footer class="page-footer">


    <!--Copyright-->
    <div class="card bg-dark">
	    <div class="footer-copyright py-3 text-center card-title">
	        <span class="card-body rounded">© 2018 Copyright:
	        <a href="https://codylovell.pythonanywhere.com"> codylovell.com </a></span>
	    
    <!--/.Copyright-->

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.19/marked.min.js"></script>
<script
	src="http://code.jquery.com/jquery-1.12.4.min.js"
	integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
	crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('.content-markdown').each(function(){
		var content = $(this).text()
		var markedContent = marked(content)
		$(this).html(markedContent)
	})
})
</script>
</body>
</html>