{% extends 'blog/base.html' %}

{% block content %}
	{% for post in posts %}
		{% if post.published_date %}
		    <div class="container marked-content">
			    <div class='card posts text-light bg-dark'>
			        	<div class='date'>
			        		<p>published: {{ post.published_date }}</p>
			        	</div>
			        	<h1 class="card-title">{{ post.title }}</a></h1>
			        	<p class="card-body content-markdown">{{ post.text|truncatechars:100|safe }}</p>

			        	<a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }} </a>

			        	<a href="{% url 'post_detail' pk=post.pk %}">
			        		<button type="button" class="btn btn-secondary">Read more</button>
			        	</a>
			    </div>
			</div>
		{% endif %}
	{% endfor %}
{% endblock %}