{% load staticfiles	%}

<!DOCTYPE html>
<html>
<head>
	<title>codyLovell</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{%	static 'css/blog.css' %}">
</head>

<body>

    <div class='header'>
    	<h1><a href="/">Cody Lovell's Blog</a></h1>
	</div>

<div class='container'>
	<div class="row">
		<div class="col-md-8">
		{% for post in posts %}
    		<article class='posts'>
        		<span class='date'><p>published: {{ post.published_date }}</p></span>
        		<h1><a href="">{{ post.title }}</a></h1>
        		<p>{{ post.text|linebreaksbr }}</p>
    		</article>
		{% endfor %}

		</div>
	</div>
</div>

</body>
</html>