{% extends 'blog/base.html' %}

{% block content %}
	<div class='card  bg-dark post box-shadow'>
		{% if post.published_date %}
			<div class="card-title">
				<div class='date'>
					{{ post.published_date }}
				</div>
			{% else %}
				<a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
			{% endif %}
			{% if user.is_authenticated %}
				<a type="button" class='btn btn-outline-secondary' href="{% url 'post_edit' pk=post.pk %}">
				<span class=''>Edit</span>
				</a>
				<a type="button" class="btn btn-outline-secondary" href="{% url 'post_remove' pk=post.pk %}">
					<span class="">Delete</span>
				</a>
			{% endif %}
				<h1 class="post-title">{{ post.title }}</h1>
			</div>
			<div class="card-body">
				<p class="content-markdown">{{ post.get_markdown }}</p>
			</div>
	</div>

	<hr>
	<a type="button" class="btn btn-outline-secondary" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
			<div class="comment">
				<div class="date">{{ comment.created_date }}
				{{ comment.created_date }}
				{% if not comment.approved_comment %}

	                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="remove">Remove</span></a>
	                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="ok">Approve</span></a>
	            {% endif %}
	            </div>
				
				<strong class='user'>{{ comment.author }}</strong>
				<p>{{ comment.text|linebreaks }}</p>
			</div>
		{% endif %}
	{% empty %}
		<p>No user comments yet.</p>
	{% endfor %}
{% endblock %}