{% load staticfiles	%}

<!DOCTYPE html>
<html>
<head>
	<title>codyLovell.com</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{%	static 'blog/css/blog.css' %}">
</head>

<body>

    <div class='header'>
    	<h1><a href="/">About Cody Lovell</a></h1>
	</div>

	<nav class="sidebar">
		<a href="{% url 'about' %}">About</a>
		<a href="{% url 'post_list' %}">Blog</a>
		<a href="#">Contact</a>
		<a href="#">Projects</a>
	</nav>

	<div class='container'>
		<div class="row">
			<div class="col-md-8">
			{% block content %}
			{% endblock %}
			</div>
		</div>
	</div>

</body>
</html>