{% extends 'blog/base.html' %}
{% block content %}
	<div class='card bg-dark'>
		<h1 class='card-title'>About Me</h1>
		<p class="card-body">
			<article>
				Hello, I am Cody an inspiring developer, Who loves to learn new things. I am familiar with Python, HTML5, CSS3, Django along with several other technologies all along the stack. There are many outstanding resources online, helping others learn how to code and I would love to give back as well by hopefully being able to explain topics in an easy to understand way that will make things click.
			</article>
		</p>
	</div>
{% endblock %}