{% extends 'blog/base.html' %}

{% block brand %}
	<div class="brand">
	    <h1>About Cody</h1>
	</div>
{% endblock %}

{% block content %}
	<div class='card bg-dark'>
		<h1 class='card-title'>About Me</h1>
		<p class="card-body">
			<article class="about-me">
				Hello, I am <strong class="about-text">Cody</strong> an inspiring developer, Who loves to <a class="about-text" href='https://teamtreehouse.com/explore'>learn new things</a>. I am familiar with <a class="about-text" href='https://www.python.org/'>Python</a>, <a class="about-text" href='https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5'>HTML5</a>, <a class="about-text" href='https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3'>CSS3</a>, <a class="about-text" href='https://www.djangoproject.com/'>Django</a> along with several other technologies all along the stack. There are many <a class="about-text" href="https://github.com/fffaraz/awesome-courses">outstanding resources online</a>, helping others learn how to code and I would love to give back as well by hopefully being able to explain topics in an easy to understand way that will make things click.
			</article>
		</p>
	</div>
{% endblock %}