{% extends 'blog/base.html' %}

{% block brand %}
	<div class="brand">
	    <h1>Contact Cody</h1>
	</div>
{% endblock %}

{% block content %}
	<div class='card bg-dark social-list box-shadow'>
		<ul class="card-body">
			<a href="https://github.com/codylovell">
				<li class="">Github</li>
			</a>
			<a href="https://linkedin.com/in/cody-lovell-32634568">
				<li class="">Linkdin</li>
			</a>
			<a href="mailto:codylovell94@gmail.com">
				<li class="">Email</li>
			</a>
		</ul>
	</div>
{% endblock %}